
    <nav>
        <ul>
          <li><a href="/" title="Go home">Home</a></li>
          <li><a href="/about/" title="About the boilerplate">About</a></li>
          <li><a href="/frameworktwo/" title="Java">JFW2</li>
        </ul>
      </nav>